
<html>
    <head>
        <style>
            #a1{
                heidht:200px;
                weidth:200px;
                margin:30px;
                padding:20px;
                background-color:aquamarine;
                color:black;
            }
        </style>
    </head>
   <body>
       <div id="a1">
           <h1>Elephant</h1>
           <ul>
               <li>Vegeterians</li>
               <li>Second Biggest mammal</li>
               <li>Habitat:Forest</li>
           </ul>
       </div>
</body>
</html>